.container{
    height: 800px;
    width: 100%;
    margin-top: 80px;
}

.about-box{
    height: 700px;
    width: 30%;
    border: 3px solid #000;
    float: left;
    margin-left: 35px;
}

.container-box{
    display: block;
    margin: auto;
}
